/* assets/css/main.css */
@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-primary: #6681ff;
  --ui-secondary: black;
  --ui-success: var(--ui-color-success-500);
  --ui-info: var(--ui-color-info-500);
  --ui-warning: var(--ui-color-warning-500);
  --ui-error: var(--ui-color-error-500);
  --ui-bg: rgba(240, 248, 251, 0.98);
  --ui-bg-muted: var(--ui-color-neutral-50);
  --ui-bg-elevated: var(--ui-color-neutral-100);
  --ui-bg-accented: var(--ui-color-neutral-200);
  --ui-bg-inverted: var(--ui-color-neutral-900);
  --ui-header-height: --spacing(24);

  --ui-text-dimmed: var(--ui-color-neutral-400);
  --ui-text-muted: var(--ui-color-neutral-500);
  --ui-text-toned: var(--ui-color-neutral-600);
  --ui-text: black;
  --ui-text-primary: black;
  --ui-text-highlighted: var(--ui-color-neutral-900);
  --ui-text-inverted: black;
}
